<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=0.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/main.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="web-top-header">
    WELCOME TO WEBSITE
</div>
<ul class="main-nav-bar">
    {% url 'home' as home %}
    {% url 'about' as about %}
    {% url 'contact' as contact %}
    <li{% if request.path == home %} class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
    <li{% if request.path == about %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
    <li{% if request.path == contact %} class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
    {% if not request.user.is_authenticated %}
        <li{% if request.path == account %} class="active" {% endif %}><a href="{% url 'account_login' %}">Login</a></li>
    {% else %}
        <li{% if request.path == account %} class="active" {% endif %}><a href="{% url 'account_logout' %}">Logout</a></li>
    {% endif %}

</ul>
<div style="padding:0 16px;">
{% block content %}
{% endblock %}
</div>
</body>
</html>